<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootleg Nasa</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!--importa los css, quien sabe de donde...-->
    <%= javascript_importmap_tags %>
    <!--importa los javascript-->
</head>

<body>

    <%= render "mycomponents/header" %>

    <div class="container py-5">
        <%= yield %>
        <br>
        <!-- <h6><%= time_ago_in_words(Time.now + 90) %></h6> -->
    </div>

    

    <!-- < %= render "mycomponents/footer" %> -->
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>